.bg-container-jobs {
  background-color: #000000;
  height: 100%;
  padding: 20px;
  display: flex;
  background-size: cover;
}
.bg-filter-section-container-jobs {
  width: 32%;
  padding: 10px;
}

.filter-heading {
  font-size: 25px;
  font-family: 'Roboto';
  color: #f1f5f9;
  padding-bottom: 6px;
}
